@import '../../../styles/vars.scss';

.cubeContainer {
    position: relative;
    height: 280px;
    width: 100%;
    overflow: visible;
}

.cube {
    height: 100%;
}

.vertex {
    display: inline-block;
    position: absolute;
    width: $s-small;
    height: $s-small;
    transition: transform 0.3s $ease-decel;
    image-rendering: pixelated;

    @include themeComponent($themes) {
        background-color: t('border');
    }

    :global(.theme--default) & {
        mix-blend-mode: multiply;
    }

    :global(.theme--dark) & {
        mix-blend-mode: screen;
    }
}