@import '../../../styles/vars.scss';

.header {
    .marqueeSection {
        @include themeComponent($themes) {
            background-color: t('masthead');
        }
    }

    .masthead {
        display: block;
        width: 50%;
        padding: 0 0 0 $s-x-large;
        position: relative;
        z-index: 14;
        text-decoration: none;
        color: inherit;

        @media(max-width: $tabletMax) {
            width: auto;
            padding: 0;
            margin-top: $s-large;
        }

        .title {
            font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
            font-size: 3.2rem;
            text-transform: uppercase;
            margin: $s-large 0 0 0;

            @include themeComponent($themes) {
                color: t('header');
            }

            @media(max-width: $tabletMax) {
                font-size: 1.4rem;
                margin: 0 0 $s-small 0;
            }
        }

        .subtitle {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 3rem;


            @include themeComponent($themes) {
                color: t('text');
            }

            @media(max-width: $tabletMax) {
                font-size: 1rem;
                line-height: 1.3rem;
                margin: 0;
            }
        }
    }

    .decoration {
        width: 50%;
        position: relative;

        @media(max-width: $tabletMax) {
            width: auto;
            position: absolute;
            top: 0;
            right: calc($s-large + $s-medium);
            height: 100%;
            z-index: 0;
            pointer-events: none;
        }
    }
}