@import '../styles/vars.scss';

.about {
    .aside {
        text-align: center;
        margin: $s-x-large 0 0 0;
    }

    .headshot {
        @media (max-width:$tabletMax) {
            display: inline-block;
            margin: 0;
        }

        img {
            border-radius: 50%;
            width: 300px;
            height: 300px;
            image-rendering: pixelated;
            margin: 0;

            @media (max-width: $tabletMax) {
                width: 200px;
                height: 200px;
            }
        }
    }

    .source {
        width: 100%;
        max-width: 720px;
        padding-top: $s-x-large;
    }
}