@import 'modern-normalize';
@import 'vars.scss';
@import 'layout.scss';
@import 'mixins.scss';

body {
    background-color: $alabaster-white;
    transition: background-color 0.3s;
}

body[data-theme='dark'] {
    background-color: #1a1a1a;
}

.base__palette {
    @include themeGlobal($themes) {}
}