$charcoal-black: #333;
$parchment-white: #f9f7f4;
$coral-red: #d9253f;
$sky-blue: #6ab5db;
$antiflash-white: #ebebeb;
$electric-ultramarine: #3c00f7;

$themes: (
    default: (
        backgroundColor: $parchment-white,
        surface: white,
        masthead: $parchment-white,
        castShadow: black,
        inactiveBg: $antiflash-white,
        header: $charcoal-black,
        text: $charcoal-black,
        link: $electric-ultramarine,
        border: $coral-red,
    ),
    dark: (
        backgroundColor: #1a1a1a,
        surface: #222222,
        masthead: #1a1a1a,
        castShadow: black,
        inactiveBg: #2a2a2a,
        header: $antiflash-white,
        text: $antiflash-white,
        link: $sky-blue,
        border: $coral-red,
    ),
);

/** Compiles selector to: 
    .base.theme--default in global.scss
*/
@mixin themeGlobal($themes: $themes) {
    @each $theme, $map in $themes {
        &.theme--#{$theme} {
            $theme-map: (
                ) !global;

            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}'
                );
            $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }

        @content;
        $theme-map: null !global;
    }
}
}


@mixin themeComponent($themes: $themes) {
    @each $theme, $map in $themes {
        :global(.theme--#{$theme}) & {
            $theme-map: (
                ) !global;

            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}'
                );
            $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }

        @content;
        $theme-map: null !global;
    }
}
}

@function t($key) {
    @return map-get($theme-map, $key);
}